<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>פעולות</th>
      <th>תמונה</th>
      <th>דחיפות התיקון</th>
      <th>מהות התקלה</th>
      <th>טלפון</th>
      <th>כתובת</th>
      <th>שם הלקוח</th>
      <th>תאריך פתיחת הקריאה</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>&lt;form action="{url_for('deleteEntity',index=0)}" method="POST"&gt;&lt;button name="forwardBtn" type="submit"&gt;delete&lt;/button&gt;&lt;/form&gt;</td>
      <td>c:\\</td>
      <td>דחוף</td>
      <td>תקלה בXXX</td>
      <td>503533410</td>
      <td>ז'בוטינסקי 45 ב</td>
      <td>רום</td>
      <td>2021-09-24 18:55:29.871263</td>
    </tr>
    <tr>
      <th>1</th>
      <td>&lt;form action="{url_for('deleteEntity',index=1)}" method="POST"&gt;&lt;button name="forwardBtn" type="submit"&gt;delete&lt;/button&gt;&lt;/form&gt;</td>
      <td>c:\\</td>
      <td>דחוף</td>
      <td>תקלה בXXX</td>
      <td>503533410</td>
      <td>ז'בוטינסקי 45 ב</td>
      <td>רום</td>
      <td>2021-09-24 18:55:30.324423</td>
    </tr>
    <tr>
      <th>2</th>
      <td>&lt;button type="button"&gt;Click Me!&lt;/button&gt;</td>
      <td>c:\\</td>
      <td>דחוף</td>
      <td>תקלה בXXX</td>
      <td>503533410</td>
      <td>ז'בוטינסקי 45 ב</td>
      <td>רום</td>
      <td>2021-09-24 18:56:19.549699</td>
    </tr>
    <tr>
      <th>3</th>
      <td>&lt;button type="button"&gt;Click Me!&lt;/button&gt;</td>
      <td>c:\\</td>
      <td>דחוף</td>
      <td>תקלה בXXX</td>
      <td>503533410</td>
      <td>ז'בוטינסקי 45 ב</td>
      <td>רום</td>
      <td>2021-09-24 18:56:22.176676</td>
    </tr>
    <tr>
      <th>4</th>
      <td>&lt;button type="button"&gt;Click Me!&lt;/button&gt;</td>
      <td>c:\\</td>
      <td>דחוף</td>
      <td>תקלה בXXX</td>
      <td>503533410</td>
      <td>ז'בוטינסקי 45 ב</td>
      <td>רום</td>
      <td>2021-09-24 18:56:22.626145</td>
    </tr>
  </tbody>
</table>